<header class="header">
    <a href="/"> Robert Aburustum </a>
    |
    <a href="/projects.html"> Projects </a>
    |
    <a href="https://drive.google.com/file/d/1ZDZKhu9t1uWTmcUh7gTjFZuZfu4s_O1Z/view?usp=sharing" target="_blank"> Resume</a>

    <div class="icons">
        <a href="https://github.com/Burtorustum" target="_blank">
            <img src="/assets/images/GitHub-Mark-Light-120px-plus.png" alt="" class="icon">
        </a>
        <a href="mailto: aburustum.r@northeastern.edu">
            <img src="/assets/images/mail.png" alt="" class="icon">
        </a>
    </div>
</header>